#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 769px) {
  #root {
    width: 600px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #root {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #root {
    width: 100%;
    padding: 1rem;
  }
}
